@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$theme-font: 'Muli', sans-serif;
$primary-color: #00BCD4;
$secondary-color: #5371FD;
$dark-primary-color: #0097A7;
$light-primary-color: #B2EBF2;
$accent-color: #FFC107;
$primary-text-color: #212121;
$light-primary-text-color: #FFFFFF;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

$primary-login-color: #0097A7;
$secondary-login-color: #5371FD;

$primary-register-color: #0097A7;
$secondary-register-color: #5371FD;

$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.9375rem;
$small-font-size: 0.8125rem;
$smaller-font-size: 0.75rem;

$error404-font-size: 5rem;
$error404-message-size: 2.5rem;